#typing-container {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black; /* Cursor effect */
  }
  
  .typing-text {
    display: inline-block;
    animation: typing 2s steps(20) 1s 1 normal both, blink 0.7s step-end infinite alternate;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  body {
    height: 100vh;
    background-image: url('../images/pastel_vecteezy.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
  }
  
  table {
    width:80%;
    border-collapse: collapse;
    transition: color 333ms ease-in-out;
  }
  
  .tr {
    height:50px;
    transition: background 333ms ease-in-out;
    
    &:nth-child(even) {background: #e6f0f6;}
  
    &:nth-child(odd) {background:#fff;}
  
    &:hover {
      background:#ddd;
      
      &:nth-child(even) {background: #ddd;}
      
      td{color:#888;}
      
      a {color:#666;}
    }
    
  .td {
      color:#888;
      font-size: 20px;
      letter-spacing: 0.2em;
      border: 2px solid grey;
      transition: color 333ms ease-in-out;
      padding-left: 25px;
      
/*       &:first-child {padding-left:25px;}
  
      &:last-child {
        padding-right:25px;
        text-align: right;
      } */
    }
  }
  
  /* Top Bar */
  .th {
    background:#666;
    color:#eee;
    transition: color 333ms ease-in-out;
  }