#typing-container {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black; /* Cursor effect */
  }
  
  .typing-text {
    display: inline-block;
    animation: typing 2s steps(20) 1s 1 normal both, blink 0.7s step-end infinite alternate;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  body {
    height: 100vh;
    background-image: url('../images/pastel_vecteezy.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
  }

  body {
    font-family:'Open Sans', sans-serif;
    background:#efefef;
    text-transform: uppercase;
  }
  *{padding:0;margin:0;}
  

  
/*   h1 {
    margin-top:50px;
    margin-bottom:15px;
    margin-right:$margin;
    text-align:right;
    font-size: 1.5em;
    color:#bbb;
    letter-spacing: 0.1em;
  } */
  
  td {transition: color 333ms ease-in-out;}
  
  table {
    width:100%;
    border-collapse: collapse;
  }
  
  tr {
    height:40px;
    transition: background 333ms ease-in-out;
    
    &:nth-child(even) {background: #e6f0f6;}
  
    &:nth-child(odd) {background:#fff;}
  
    &:hover {
      background:#ddd;
      
      &:nth-child(even) {background: #ddd;}
      
      td{color:#888;}
      
      a {color:#666;}
    }
    
    td {
      color:#888;
      font-size: 0.78em;
      font-weight: 300;
      letter-spacing: 0.2em;
      border: 5px solid grey;
      
      &:first-child {padding-left:25px;}
  
      &:last-child {
        padding-right:25px;
        text-align: right;
      }
    }
  }
  
  /* Top Bar */
  th {
    background:#666;
    color:#eee;
  }