.beginner-header { color: blue; }
.intermediate-header { color: lightskyblue; }
.advanced-header { color: mediumturquoise; }

.skill-box {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.skill-box.beginner { background-color: blue; }
.skill-box.intermediate { background-color: lightskyblue; }
.skill-box.advanced { background-color: mediumturquoise; }