.beginner-header { color: #006DB5 }
.intermediate-header { color: blue; }
.advanced-header { color: #003E7F; }

.skill-box {
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.skill-box.advanced { background-color: #003E7F;; }
.skill-box.beginner { background-color: #006DB5; }
.skill-box.intermediate { background-color: blue; }

        body {
            font-family: Arial, sans-serif;
            background: #f8f9fa;
            padding: 20px;
        }

        .course-section {
            background: white;
            margin: 10px 0;
            padding: 15px;
            border-radius: 8px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: 0.3s;
        }
